.navblur{
    /* From https://css.glass */
background: rgba(0, 0, 0, 0.18);
width: 100vw;
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.5px);
-webkit-backdrop-filter: blur(17.5px);
}